<div class="overflow-auto" style="max-height: 400px;">
    <ng-container *ngIf="posts">
        <ng-container *ngFor="let post of posts; let i = index">
            <div class="card-body">
                <h4 class="card-title">{{ post.title }}</h4>
                <p class="card-text">{{ post.body }}</p>
                <br>
                <p class="card-text"> <i class="bi bi-tag-fill"></i> {{ post.tags }}</p>

                <div class="footer-card">

                    <p class="card-text"> <i class="bi bi-hand-thumbs-up-fill"></i> {{ post.reactions.likes }}</p>
                    <p class="card-text"> <i class="bi bi-hand-thumbs-down-fill"></i>{{ post.reactions.dislikes }}
                    </p>
                    <p class="card-text"><i class="bi bi-eye-fill"></i>{{ post.views }}</p>
                    <i class="bi bi-chat-square-text-fill" (click)="loadComments()"></i>
                </div>

                <!-- Comentarios para cada post -->
                <ng-container *ngIf="verComentarios">
                    <ng-container *ngFor="let comentario of cp[i]">
                        <div class="card-comment">
                            <p class="card-text">{{ comentario.body }}</p>
                            <div class="footer-card">
                                <p class="card-text"><i class="bi bi-hand-thumbs-up" aria-label="Likes"></i> {{
                                    post.reactions.likes }}{{ comentario.likes }}</p>
                                <p class="card-text"><i class="bi bi-person-fill"></i> <span>{{ comentario.user.username}}</span>
                                </p>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </ng-container>
    </ng-container>
</div>