<nav>
  <div class="navbar-brand">
    <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" width="60px" height="60px">
    <h2>Care Libro</h2>
  </div>

  <span class="navbar-text">Búsqueda de Perfiles</span>

  <form #form="ngForm" class="form-inline" (ngSubmit)="searchUser()">
    <button type="submit" class="btn btn-outline">
      <i class="fas fa-search "></i>
    </button>
    <input type="text" class="form-control" placeholder="Buscar" id="username" name="username" [(ngModel)]="txtUser" required>
  </form>
</nav>

<main>
  <section class="container-profile">
    <app-user-profile [user]="user"></app-user-profile>

    <article class="box-posts shadow p-3 mb-5 bg-body-tertiary rounded">
      <h1 class="card-title">Publicaciones</h1>
  
      <app-user-posts *ngIf="posts.length > 0" [posts]="posts" [cp]="cp" ></app-user-posts>
    </article>
  </section>
</main>